/*breadcrumb*/
/*.breadcrumb{*/
/*  width: 100%;*/
/*  color: var(--color-primary);*/
/*}*/

.highlight {
  font-weight: bold;
  color: var(--color-primary); /* o el color que prefieras */
}

.about-me {
  padding: 3rem 2rem;
}

.about-me__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.about-me__image {
  flex: 1 1 18.75rem;
  text-align: center;
}

.about-me__image img {
  width: 100%;
  max-width: 25rem;
  height: auto;
}

.about-me__content {
  flex: 1 1 31.25rem;
}

.about-me__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-me__description {
  font-size: 1rem;
  color: #d2fded;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-me__skills {
  list-style: disc inside;
  padding-left: 1rem;
  color: #d2fded;
  font-size: 1rem;
  line-height: 1.6;
}

.about-me__skill {
  margin-bottom: 0.5rem;
}

.about-me__skills li::marker {
  color: var(--color-primary); /* O cualquier color como #C9A227 */
}

/* 📱 Móviles grandes (como iPhone Plus, Android grandes) */
@media (min-width: 480px) and (max-width: 767px) {

  .about-me__container {
    flex-direction: column;
    text-align: center;
  }

  .about-me__content {
    text-align: center;
  }

  .about-me__skills {
    list-style-position: inside;
    padding-left: 0;
  }
}

/* 📱 Móviles pequeños (como iPhone SE o muy compactos) */
@media (max-width: 479px) {

  .about-me__image img {
    max-width: 15rem;
  }

  .about-me__title{
    font-size: 1.5rem;
  }

}

