<section class="about-me">
  <div class="about-me__container">

    <div class="about-me__image">
      <img src="assets/img/about-me.svg" alt="Sobre mí ilustración" />
    </div>

    <div class="about-me__content">
      <h1 class="about-me__title">
        ¿Necesitas soluciones web claras y funcionales?<br />
        Estoy aquí para construirlas contigo.
      </h1>

      <p class="about-me__description">
        Hola 👋, soy Davinson Pacheco, desarrollador web enfocado en crear sistemas sólidos y eficientes.
        Me especializo en el desarrollo web, lo que me permite entender la solución de punta a punta.
        Trabajo con tecnologías como NodeJs, PostgreSQL, JavaScript, y Angular,
        construyendo aplicaciones modernas, visuales e integradas con APIs, bases de datos y servicios en la nube.
      </p>

      <ul class="about-me__skills">
        <li class="about-me__skill">APIs REST seguras y bien estructuradas</li>
        <li class="about-me__skill">Automatización con scripts y bots personalizados</li>
        <li class="about-me__skill">Manejo de datos con consultas optimizadas en PostgreSQL</li>
        <li class="about-me__skill">Visualización de métricas con Angular y Chart.js</li>
      </ul>
    </div>

  </div>
</section>
