<section class="about-me">

  <div class="about-me__container">

    <div class="about-me__image">
      <img src="assets/img/about-me.svg" alt="Sobre mí ilustración"/>
    </div>
<!--    <div class="breadcrumb">-->
<!--      <span>SOBRE MÍ</span>-->
<!--    </div>-->


    <div class="about-me__content">
      <h1 class="about-me__title">
        ¿Buscas un desarrollador que convierta ideas en soluciones reales?
      </h1>

      <p class="about-me__description">
        Con mas de 2 años de experiencia en el desarrollo, he trabajado construyendo soluciones funcionales, claras y
        bien estructuradas.<br>
        Me desenvuelvo con soltura tanto en <span class="highlight">front-end</span> como <span class="highlight">back-end</span>,
        y he participado en proyectos con tecnologías como <span class="highlight">Angular</span>, <span
        class="highlight">Node.js</span>, <span class="highlight">PostgreSQL</span> .<br>
        Me adapto rápido, disfruto resolver problemas reales y aportar valor en cada proyecto. <br>
        Entre las cosas en las que puedo aportar se encuentran:
      </p>

      <ul class="about-me__skills">
        <li class="about-me__skill">Diseño de APIs seguras, claras y fáciles de mantener.</li>
        <li class="about-me__skill">Automatización de tareas para ganar tiempo y eficiencia.</li>
        <li class="about-me__skill">Consultas de base de datos optimizadas y bien pensadas.</li>
        <li class="about-me__skill">Visualización de datos comprensible y con impacto.</li>
      </ul>


    </div>

  </div>
</section>
