<section class="container-gallery">
  <header class="container-header">
    <h2>Proyectos</h2>
  </header>
  <main class="container-body">
    <!-- Contenido de la galería -->
    <picture>
      <img src="assets/img/pexels-tiagoalvar-21287032.jpg" alt="Descripción de la foto" width="400">
    </picture>
    <picture>
      <img src="assets/img/pexels-amar-20508967.jpg" alt="Descripción de la foto" width="400">
    </picture>
    <picture>
      <img src="assets/img/pexels-sarisecils-7566369.jpg" alt="Descripción de la foto" width="400">
    </picture>
    <picture>
      <img src="assets/img/pexels-victor-oluwa-324310690-16466074.jpg" alt="Descripción de la foto" width="400">
    </picture>
  </main>
  <footer class="container-footer">
    <!-- Pie de página de la galería -->
    <a>Ver todos los proyectos <svg aria-hidden="true" fill="none" focusable="false" height="1em" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="1em" class="flex mx-1 text-current self-center"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path><path d="M15 3h6v6"></path><path d="M10 14L21 3"></path></svg> </a>
  </footer>
</section>
