<section class="container-contact">
  <header class="container-header">
    <h2>Contacto</h2>
    <p>¿Tienes alguna pregunta o simplemente quieres charlar sobre desarrollo web? ¡Estoy aquí para ayudarte! No dudes
      en enviarme un mensaje y te responderé lo antes posible. 😊</p>
  </header>
  <main class="container-body">
    <!-- Contenido de la galería -->
    <form>
      <div class=""><input data-slot="input" class="" aria-label="Nombre Completo" type="text" name="nombrecompleto" placeholder="Escribe tu nombre completo" id="" aria-labelledby="react-aria3800021493-:r0r7: react-aria3800021493-:r0r8:" value=""></div>
      <div class=""><textarea placeholder="Escribe un comentario"></textarea></div>
      <input type="submit" value="Enviar">
    </form>
  </main>

</section>

