<section class="skills-section">
  <div class="skills-content">
    <h2 class="skills-title">Tecnologías y Herramientas</h2>
    <p class="skills-description">
      Estas son algunas de las tecnologías que uso para crear soluciones funcionales, eficientes y bien estructuradas.
    </p>

    <div class="skills-categories">
      <div class="skill-group">
        <h3>Frontend</h3>
        <ul>
          <li>HTML</li>
          <li>CSS / SCSS</li>
          <li>JavaScript</li>
          <li>Angular</li>
          <li>React</li>
        </ul>
      </div>

      <div class="skill-group">
        <h3>Backend</h3>
        <ul>
          <li>Node.js</li>
          <li>Spring Boot</li>
          <li>PostgreSQL</li>
          <li>MongoDB</li>
        </ul>
      </div>

      <div class="skill-group">
        <h3>Herramientas</h3>
        <ul>
          <li>Git & GitHub</li>
          <li>Postman</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="skills-icons">
    <img src="assets/icons/html5.svg" alt="HTML">
    <img src="assets/icons/css3.svg" alt="CSS">
    <img src="assets/img/javascript-logo.svg" alt="JavaScript">
    <img src="assets/icons/angular.svg" alt="Angular">
    <img src="assets/icons/react.svg" alt="React">
    <img src="assets/icons/nodejs.svg" alt="Node.js">
    <img src="assets/icons/postgresql.svg" alt="PostgreSQL">
    <img src="assets/icons/mongodb.svg" alt="MongoDB">
    <img src="assets/img/php-logo.svg" alt="Php">
    <img src="assets/img/git-hub.svg" alt="GitHub">
  </div>
</section>
