<section class="skills-section">
  <div class="skills-content">
<!--    <h2 class="skills-title">Tecnologías y Herramientas</h2>-->
    <p class="skills-description">
      Estas son algunas de las tecnologías y herramientas que uso para crear soluciones funcionales, eficientes y bien estructuradas.
    </p>

    <div class="skills-categories">
      <div class="skill-group">
        <h3>Frontend</h3>
        <ul>
          <li><img src="assets/icons/html5.svg" alt="HTML logo"> HTML</li>
          <li><img src="assets/icons/css3.svg" alt="CSS logo"> CSS / SCSS</li>
          <li><img src="assets/img/javascript-logo.svg" alt="JavaScript logo"> JavaScript</li>
          <li><img src="assets/icons/angular.svg" alt="Angular logo"> Angular</li>
          <li><img src="assets/icons/react.svg" alt="React logo"> React</li>
        </ul>
      </div>

      <div class="skill-group">
        <h3>Backend</h3>
        <ul>
          <li><img src="assets/icons/nodejs.svg" alt="Node.js logo"> Node.js</li>
          <li><img src="assets/icons/springboot.svg" alt="Spring Boot logo"> Spring Boot</li>
          <li><img src="assets/icons/postgresql.svg" alt="PostgreSQL logo"> PostgreSQL</li>
          <li><img src="assets/icons/mongodb.svg" alt="MongoDB logo"> MongoDB</li>
        </ul>
      </div>

      <div class="skill-group">
        <h3>Herramientas</h3>
        <ul>
          <li><img src="assets/icons/git-hub.svg" alt="Git y GitHub logo">GitHub</li>
          <li><img src="assets/icons/postman.svg" alt="Postman logo"> Postman</li>
          <li><img src="assets/icons/figma.svg" alt="Figma logo"> Figma</li>
        </ul>
      </div>


    </div>
  </div>
</section>
