<section class="container-presentation">


  <div class="container-main__card">
    <div class="main-card">
      <div class="main-card-header">
        <div class="profile-container">
          <img src="favicon.ico">
        </div>
      </div>
      <div class="main-card-body">
        <div class="description-container">

          <h1>Hola soy Davinson Pacheco</h1>
          <p>Desarrollador Front-end principiante con pasión por la creación de experiencias web atractivas.
            Comprometido con el aprendizaje continuo y la mejora constante. ¡Siempre dispuesto a enfrentar nuevos
            desafíos con entusiasmo y determinación!</p>

        </div>
        <div class=""><a
          class=""
          aria-label="Github" tabindex="0" role="button" href="https://github.com/devjhonluna" target="_blank"
          rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon icon-tabler icon-tabler-brand-github techno-profile__card__btn-ghost-icons" wclassth="24"
               height="24" viewBox="0 0 24 24" stroke-wclassth="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
          </svg>
        </a><a
          class=""
          aria-label="LinkedIn" tabindex="0" role="button"
          href="https://www.linkedin.com/in/jhon-alexander-luna-gonzalez-ab30a017a/" target="_blank"
          rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon icon-tabler icon-tabler-brand-linkedintechno-profile__card__btn-ghost-icons" wclassth="24"
               height="24" viewBox="0 0 24 24" stroke-wclassth="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
        </a><a
          class=""
          aria-label="Tiktok" tabindex="0" role="button"
          href="https://www.tiktok.com/@dev.jhon.luna?is_from_webapp=1&amp;sender_device=pc" target="_blank"
          rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" wclassth="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-wclassth="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok techno-profile__card__btn-ghost-icons">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"></path>
          </svg>
        </a><a
          class=""
          aria-label="X fka Twitter" tabindex="0" role="button" href="https://twitter.com/DevJhonluna" target="_blank"
          rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="icon icon-tabler icon-tabler-brand-xtechno-profile__card__btn-ghost-icons" wclassth="24" height="24"
               viewBox="0 0 24 24" stroke-wclassth="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
          </svg>
        </a>
          <a
            class=""
            tabindex="0" role="button" href="/assets/DEVJL Resume.pdf" target="_blank" rel="noopener noreferrer">Descargar
            CV
            <svg aria-hclassden="true" fill="none" focusable="false" height="1em" shape-rendering="geometricPrecision"
                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-wclassth="1.5"
                 viewBox="0 0 24 24" wclassth="1em" class="flex mx-1 text-current self-center">
              <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
              <path d="M15 3h6v6"></path>
              <path d="M10 14L21 3"></path>
            </svg>
          </a>
        </div>


      </div>
    </div>
  </div>

</section>

<section>
  <div class="container-portfolio-menu">
    <div class="portfolio-menu">
      <button routerLink="/proyectos">Proyectos</button>
      <button routerLink="/skills">Skills</button>
      <button routerLink="/contact">Contacto</button>
    </div>
  </div>
</section>

<router-outlet>

</router-outlet>

<footer>
  <span>
© 2024 Davinson Pacheco™-Todos los Derechos reservados.</span>
</footer>
