<section class="container-presentation">
  <div class="container-main-card">
    <div class="main-card">
      <div class="main-card-body">
        <div class="description-container">
          <p>Hello 👋, I'm</p>
          <h1 class="full-name">
            <span>DAVINSON</span>
            <span>PACHECO</span>
          </h1>
          <h2 class="job-description">
            <span>Desarrollador</span>
            <span>Web</span>
          </h2>
          <p class="profile-summary">Construyo la lógica y estructura detrás de grandes sistemas web.</p>
        </div>
        <div class="links-container">
          <a aria-label="Github" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/git-hub.svg">
          </a>
          <a aria-label="LinkedIn" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/linked-in.svg">
          </a>
          <a aria-label="Tiktok" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/tik-tok.svg">
          </a>
          <a aria-label="X fka Twitter" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/x.svg">
          </a>
          <a aria-label="X fka Twitter" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">

          </a>
          <a tabindex="0" role="button" href="" target="" rel="noopener noreferrer">Descargar CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-menu">
    <div class="main-menu">
      <button routerLink="/about-me">Sobre mí</button>
      <button routerLink="/projects">Proyectos</button>
      <button routerLink="/skills">Skills</button>
      <button routerLink="/contact">Contacto</button>
    </div>
</section>

<router-outlet>

</router-outlet>

<footer>
  <span>© 2024 Davinson Pacheco™-Todos los Derechos reservados.</span>
</footer>
