
.container-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  background: none;
}

/* Estilo de la presentación superior*/
.main-card-body {
  text-align: center;
}

.description-container .full-name {
  font-family: 'Borsok', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

.description-container .job-description {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.description-container .job-description span:nth-child(2) {
  font-family: 'Borsok', sans-serif;
  font-weight: 200;
}

.description-container .full-name span:nth-child(2),
.description-container .job-description span:nth-child(2) {
  color: #34d399;
  margin-left: 0.9rem;
}

.links-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-container a {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}

.links-container a:not(:last-child) {
  background-color: #5bdaac;
  padding: 0.3rem;
  border-radius: 100%;
  font-weight: bold;
}

.links-container a:last-child {
  font-size: 0.8rem;
  background-color: #5bdaac;
  padding: 0.1rem 1rem 0.1rem 1rem;
  color: #000000;
  font-weight: bold;
}

.links-container a img {
  transition: transform 0.3s ease;
}

.links-container a:hover img {
  transform: translateX(2px);
}

/* <------------------- Estilo del menú de portafolio ("sobre mi, proyectos...")-------------------> */
.container-menu {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.main-menu{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.main-menu button {
  padding: 12px 24px;
  border: 2px solid #34d399;
  background-color: transparent;
  color: #34d399;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.main-menu button:hover {
  background-color: #34d399;
  color: #ffffff
}

/* Estilo del footer */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background: linear-gradient(90deg, #34d399, #a0e8cf);
  border-radius: 10px;
  font-size: 0.9rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Detalle visual con pseudo-elemento */
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 150%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(-50%) rotate(-5deg);
  pointer-events: none;
}

/* Enlaces del footer */
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffcc00;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 600px) {
  footer {
    font-size: 0.8rem;
  }
}
