<section class="container-presentation">
  <div class="container-main__card">
    <div class="main-card">
      <div class="main-card-header">
        <div class="profile-container">
          <!--          <img src="favicon.ico">-->
        </div>
      </div>
      <div class="main-card-body">
        <div class="description-container">

          <h1>DAVINSON PACHECO</h1>
          <p>Desarrollador de Software</p>

        </div>
        <div>
          <a aria-label="Github" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/git-hub.svg">
          </a>

          <a aria-label="LinkedIn" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/linked-in.svg">
          </a>

          <a aria-label="Tiktok" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/tik-tok.svg">
          </a>

          <a aria-label="X fka Twitter" tabindex="0" role="button" href="" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/x.svg">
          </a>

          <a tabindex="0" role="button" href="/assets/DEVJL Resume.pdf" target="_blank" rel="noopener noreferrer">Descargar CV</a>

        </div>


      </div>
    </div>
  </div>

</section>

<section>
  <div class="container-portfolio-menu">
    <div class="portfolio-menu">
      <button routerLink="/about-me">Sobre mí</button>
      <button routerLink="/projects">Proyectos</button>
      <button routerLink="/skills">Skills</button>
      <button routerLink="/contact">Contacto</button>
    </div>
  </div>
</section>

<!--<router-outlet>-->

<!--</router-outlet>-->

<footer>
  <span>© 2024 Davinson Pacheco™-Todos los Derechos reservados.</span>
</footer>
