/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Borsok';
  src: url('assets/fonts/boorsok.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Poppins Fallback', sans-serif;
  min-height: 100vh;

  background: radial-gradient(circle at center, #011d14 0%, #000200 80%);
  color: #fff;

}


