/* You can add global styles to this file, and also import other style files */
:root {
  /* 🎨 Colores */
  --color-primary: #34d399;
  --color-accent: #C9A227;
  --color-text: #1f1f1f;
  --color-bg: #ffffff;

  /* 🧱 Tipografías */
  --font-size-base: 1rem;
  --font-size-title: 2rem;
  --font-family: 'Roboto', sans-serif;

  /* 📏 Espaciados */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}



@font-face {
  font-family: 'Borsok';
  src: url('assets/fonts/boorsok.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Poppins Fallback', sans-serif;
  min-height: 100vh;

  background: radial-gradient(circle at center, #011d14 0%, #000200 80%);
  color: #fff;

}


